* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: $text-dark;
  background-color: #fafbfd;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

li {
  list-style: none;
}

.main-app {
  padding-right: 79px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  padding-left: 45px;
}

.flex-center {
  display: flex;
  align-items: center;
}
