* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: $text-dark;
  padding: 0 79px 0 31px;
  background-color: #cca;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

li {
  list-style: none;
}

.main {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}
