* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: $text-dark;
  background-color: #fafbfd;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

select {
  background-color: inherit;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

li {
  list-style: none;
}

.main-app {
  padding-right: 79px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 45px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.help {
  border-radius: 20px 5px 20px 20px;
  background-color: $yellow;
  height: 36px;
  width: 80px;
  position: fixed;
  bottom: 24px;
  right: 79px;
  justify-content: center;
  gap: 8px;

  &__text {
    font-size: 13px;
    font-weight: 700;
  }
}
