.header {
  color: $text-dark;
  display: flex;
  justify-content: space-between;
  height: 108px;

  &__left {
    display: flex;
    gap: 40px;
    align-items: center;

    &-menu {
      font-size: 24px;
    }
  }

  &__right {
    display: flex;
    gap: 40px;
    align-items: center;

    &-item {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}
